<div class="container">
  <div class="d-flex flex-column align-items-center pt-3">
    <div class="profil_image d-flex flex-column align-items-center pt-3">
      <%= image_tag "Lennon.jpg", alt:"photo_avatar" %>
      <h3 class='fontfamily'>John Lennon</h3>
    </div>
    <div class="search-bar">
      <%= form_with url: recipes_search_path, class: 'd-flex gap-1', method: :get do |form| %>
        <%= form.text_field :query, placeholder: "Search for Recipes",class:"search-field" %>
        <%= form.submit "Cook !", class: "submit-field btn btn-green" %>
      <% end %>
    </div>
    <div class="action-cards">
        <%= link_to recipes_path do %>
        <div class="ingredient-card">
          <%= image_tag 'heart.png' %>
          <h2 class="fontfamily">Favorites recipes</h2>
        </div>
      <%end%>
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
        <div class="ingredient-card">
          <%= image_tag "logout.png", alt:"logout" %>
          <h2 class="fontfamily log_out">Log out</h2>
        </div>
      <% end %>
    </div>
  </div>
</div>
