<div class="container">
  <%= link_to "javascript:history.back()", class: "btn btn-green mt-2" do %>
    <i class="fa-solid fa-chevron-left" style="color: #ffffff;"></i>
  <% end %>

  <div class="img_show">
    <% if @recipe_details["image"] %>
      <img src="<%= @recipe_details["image"] %>" alt="<%= @recipe_details["title"] %>">
    <% end %>
  </div>

  <div class="recipe-details">
    <% if @recipe_details %>
      <div class = "recipe-info">
        <i class="fa-solid fa-utensils"></i>
        <h2><%= @recipe_details["title"] %></h2>
        <p><%= @recipe_details["summary"].html_safe if @recipe_details["summary"] %></p>
      </div>

      <div class= "list-items">
        <i class="fa-solid fa-carrot"></i>
        <h2>Ingredients</h2>
        <ul>
        <% if @recipe_details["extendedIngredients"] %>
          <% @recipe_details["extendedIngredients"].each do |ingredient| %>
            <li><%= ingredient["original"] %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
      <div class="instructions_info">
        <i class="fa-solid fa-circle-info"></i>
        <h2>Instructions</h2>
        <p><%= @recipe_details["instructions"].html_safe if @recipe_details["instructions"] %></p>
      </div>
      <div class="users-action d-flex mt-2 align-items-end justify-content-between">
        <%= link_to "javascript:history.back()", class: "btn btn-green mt-2" do %>
          <i class="fa-solid fa-chevron-left" style="color: #ffffff;"></i>
        <% end %>
        <div data-controller="recipe">
          <%= link_to recipes_path(recipe: { name: @recipe_details["title"], user_id: current_user.id, image: @recipe_details["image"] }), data: { turbo_method: :post } do %>
            <i data-recipe-target="favoris" data-action="click->recipe#addToCookbook" class="fa-regular fa-heart" style="color: #557C55; font-size: xxx-large;"></i>
          <% end %>
        </div>
      </div>
    <% else %>
      <p>Recipe cant be found.</p>
    <% end %>
  </div>
</div>
