<!-- app/views/ingredients/_form.html.erb or another appropriate view file -->

<div class="d-flex justify-content-center mt-3">
  <div class="card" id='no-border'>
    <div class="card-body">
      <%= simple_form_for @ingredient do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name, input_html: { class: 'form-control' } %>
          <%= f.input :expiration, as: :string, input_html: { data: { controller: "flatpickr" } } %>
          <%= f.input :amount, input_html: { class: 'form-control' } %>
          <%= f.input :unit, collection: Ingredient.valid_units, input_html: { class: 'form-control' } %>
          <%= f.input :category_id, collection: Category.all, label_method: :name, include_blank: true, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, class: 'btn btn-green', value: 'Done' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
