<div class="d-flex justify-content-center mb-5 mt-3">
  <div class="card mb-5" id='no-border'>
    <div class="card-body">
      <%= simple_form_for @ingredient do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs fontfamily fs-3">
          <%= f.input :name, input_html: { class: 'form-control border-2 rounded-pill' } %>
          <%= f.input :expiration, as: :string, input_html: { class: 'border-2 rounded-pill', data: { controller: "flatpickr" } } %>
          <%= f.input :amount, label: "Quantity", input_html: { class: 'form-control border-2 rounded-pill' } %>
          <%= f.input :unit, collection: Ingredient.valid_units, input_html: { class: 'form-control border-2 rounded-pill' } %>
          <%= f.input :category_id, collection: Category.all, label_method: :name, include_blank: true, input_html: { class: 'form-control border-2 rounded-pill' } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, class: 'btn btn-green', value: 'Done' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
