<div data-search-ingredients-target='list' class='row'>
  <% if !@ingredients.empty? %>
    <% @ingredients.each do |ingredient| %>
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
        <div id='ingredient-card' class="card h-100 shadow-sm" style="background-color: #f8f9fa;">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title" style="color: black;"><%= ingredient.name %></h5>
            <p class="card-text" style="color: black;">
              Amount: <%= ingredient.amount %> <%= ingredient.unit %><br>
              Expiration : <%= ingredient.expiration %>
            </p>
            <div class="mt-auto d-flex justify-content-evenly">
              <div class="edit">
                <%= link_to edit_ingredient_path(ingredient) do %>
                  <%= image_tag 'editing', alt: 'Editing ingredient' %>
                <% end %>
              </div>
              <div id='delete'>
                <%= link_to ingredient_path(ingredient), class: "navbar-brand", data: {turbo_method: :delete, turbo_confirm: "Delete ingredient from fridge"} do %>
                  <%= image_tag 'bin', alt: 'Delete ingredient from fridge' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Sorry, we dont find your ingredient</p>
  <% end %>
</div>

