<!DOCTYPE html>
<html>
  <head>
    <title>KouakouZiner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kavoon&family=Mooli&family=Open+Sans&family=Spicy+Rice&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless current_page?(controller: 'pages', action: 'home')%>
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <% end%>

    <%= yield %>

  </body>
      <%= render 'shared/footer' %>
</html>
